<!doctype html>
<html ng-app="flashcard">

<head>
	<meta charset="utf-8">
	<title>Flashcard App</title>
	<!-- TODO add bootstrap styles -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/flashcard.css">
	<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>-->
	<script src="js/angular.min.js"></script>
	<script src="js/flashcard.js"></script>
</head>

<body class="body">
	<header>
		<h1 class="title-site">Flashcard App</h1>
		<p>Debug: Ang is working if 2 + 2 = {{2+2}}</p>
	</header>
		

	<div class="section-config hide">
		<h2 class="header-screen">Set up your quiz!</h2>
		<form class="config-form">
				<fieldset>
					<label class="config-question-label " for="config-question-1">Question 1:</label>
					<input type="text" id="config-question-1" />
					<table>
						<p>Answers for question 1: (use radios to mark which is correct)</p>
						<tr>
							<td><input type="radio" name="config-answer-correct" /></td>
							<td><input type="text" id="config-answer-1_1"></td>
						</tr>
						<tr>
							<td><input type="radio" name="config-answer-correct" /></td>
							<td><input type="text" id="config-answer-1_2"></td>
						</tr>
						<tr>
							<td><input type="radio" name="config-answer-correct" /></td>
							<td><input type="text" id="config-answer-1_3"></td>
						</tr>
						<tr>
							<td><input type="radio" name="config-answer-correct" /></td>
							<td><input type="text" id="config-answer-1_4"></td>
						</tr>
					</table>
				</fieldset>
				<button class="config-submit">Submit</button>
		</form>
	</div>

	<div class="section-quiz" ng-controller="FlashcardCtrl">
		<h2 class="header-screen">Take your quiz!</h2>
		<div class="quiz-info">
			<div class="quiz-score">Score: </div>
		</div>

		<div class="quiz-cards" ng-repeat="question in questions">
			<form class="quiz-card">
				<h2 class="quiz-question">{{question.question}}</h2>
				<ul class="quiz-answers list-unstyled" ng-repeat="answer in question.answers">
					<li class="quiz-answer">
						<input type="radio" name="quiz-answer-selected" for="quiz-answer-selected" /><span class="quiz-answer">{{$index + 1}}. {{answer}}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>