<!doctype html>
<html ng-app="flashcard">

<head>
	<meta charset="utf-8">
	<title>Flashcard App</title>
	<!-- TODO add bootstrap styles -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/flashcard.css">
	<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>-->
	<script src="js/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
	<script src="bower_components/angularLocalStorage/src/angularLocalStorage.js"></script>
	<script src="js/flashcard.js"></script>
	<script src="js/flashcard-quiz.js"></script>
</head>

<body class="body">
	<header class="navbar">
		<h1 class="title-site">Flashcard App</h1>
		<!-- <p>Debug: Ang is working if 2 + 2 = {{2+2}}</p> -->
		<button class="btn" id="quiz-config">Configure Quiz</button>
		<button class="btn" id="quiz-take">Take Quiz</button>
	</header>
		

	<div class="section-config hide">
		<h2 class="header-screen">Set up your quiz!</h2>
		<form class="config-form">
				<fieldset>
					<label class="config-question-label " for="config-question-1">Question 1:</label>
					<input type="text" id="config-question-1" />
					<table>
						<p>Answers for question 1: (use radios to mark which is correct)</p>
						<tr>
							<td><input type="radio" name="config-answer-correct" /></td>
							<td><input type="text" id="config-answer-1_1"></td>
						</tr>
						<tr>
							<td><input type="radio" name="config-answer-correct" /></td>
							<td><input type="text" id="config-answer-1_2"></td>
						</tr>
						<tr>
							<td><input type="radio" name="config-answer-correct" /></td>
							<td><input type="text" id="config-answer-1_3"></td>
						</tr>
						<tr>
							<td><input type="radio" name="config-answer-correct" /></td>
							<td><input type="text" id="config-answer-1_4"></td>
						</tr>
					</table>
				</fieldset>
				<button class="config-submit">Submit</button>
		</form>
	</div>

	<div class="section-quiz hide" ng-controller="FlashcardCtrl">
		<h2 class="header-screen">Take your quiz!</h2>
		<div class="quiz-info">
			<div>Score: <span id="quiz-score" class="quiz-score">0</span></div>
		</div>

		<div class="quiz-cards">
			<form class="quiz-card hide" ng-repeat="question in questions" data-answer-correct="{{question.correct}}">
				<h2 class="quiz-question">{{question.question}}</h2>
				<ul class="quiz-answers list-unstyled">
					<li class="quiz-answer" ng-repeat="answer in question.answers">
						<input type="radio" data-answer-number="{{$index + 1}}" name="quiz-answer-radio-{{$parent.$index + 1}}" class="quiz-answer-radio" id="quiz-answer-radio-{{$parent.$index + 1}}-{{$index + 1}}" /><label class="quiz-answer" for="quiz-answer-radio-{{$parent.$index + 1}}-{{$index + 1}}">{{$index + 1}}. {{answer}}</label>
					</li>
				</ul>
				<div class="next-question-fields hide">
					<div class="error">Sorry. Correct answer was {{question.correct}}.</div>
					<div class="success">Nice job! You chose correctly.</div>
					<button class="next-question btn btn-primary">Next Question</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>